.contactImage img{
    width: 100%;
    display: block;
}

.promoTextBox{
    width: 100%;
    text-align: center;
}

/* ContactInfo================= */

.contactBoxMenuRow{
    line-height: 70%;
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: rgba(252, 212, 15, 0.897);
    box-shadow: inset 2px 2px 160px 0px rgba(117,105,23,1);
}

.contactBox{
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

#col1{
    text-align: center;
    border-right: 1px solid white;
}

#col2 div{
    margin-left: 25%;
    text-align: left;
}

#col3 {
    margin-left: 5%;
    text-align: left;
    
}

/* PhoneBox================= */

.phoneBoxMenuRow{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.phoneBox{
    display: table-cell;
}

.phoneBox div{
    margin-left: 25%;
    margin-right: 25%;
}

.phoneBox div p{
    margin-top: 7px;
}

.phoneBox div h3{
    margin-top: 0;
    font-size: 1.3vw;
}

.phoneBox div h4{
    font-size: 1.5vw;
}