@font-face {
    font-family: LightItalic;
    src: url("../Poppins/Poppins-ExtraLightItalic.ttf");
}

@font-face {
    font-family: regular;
    src: url("../Poppins/Poppins-Regular.ttf");
}

p {
    font-size: 16px; 
    font-size: 1.3vw;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px; 
    font-size: 1.3vw;
}


header{
    text-align: center;
}

body{
    margin: 0px;
    background-color: black;
    background-image: url("../Resources/bodyBackground.png");
}

#MAIN{
    font-family: regular;
    margin-top: 0%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2%;
    background-color: rgba(114, 114, 114, 0.021);

}

#logo{
    width: 25%;
    height: 15%;
}

.logoTextBox{
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    font-family: LightItalic;
    text-align: center;
    white-space: normal;
    
}


/* NAVIGATION BAR ===================================== */
#navbar{
    display: inline-block;
    width: 100%;
    height: 5.7vw;
    margin: 0;
    padding: 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.479);
    background-image: url("../Resources/StructureImages/topNavBar.png");
    background-size:100%;
    background-repeat: no-repeat;
}

.navbarRow{
    display: table;
    width: 100%;
    max-height: 2vw;
    table-layout: fixed;
    border-spacing: 1px;
    max-height: 20px;
}


.navbarBox{
    display: table-cell;
    text-align: center;
    color: white;
    padding-bottom: 25px;
    max-height: 20px;
    vertical-align:middle;

}

/* BOX MENU ================================== */


.boxMenuRow
{
    display: table;
    width: 100%; /*Optional*/
    /* max-height: 2vw; */
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
}

.box
{
    display: table-cell;
    text-align: center;
    background-color: rgba(253, 180, 24, 0.897);
    height: 50px;
}

.box img{
    max-width: 8vw;
    max-height: 8vw;
}







.flexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery{
    margin-left: 25px;
    margin-right: 25px;
    float: left;
    width: 150px;
    height: 120%;
    text-align: center;
}

.gallery img{
    width: 80%;
    height: auto;
}


#services{
    margin-top: 50px;
}


footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

footer img{
    width: 100%;
}


/* slideshow =============================DN*/

.slideshow{
    margin-bottom: 50px;
}


.mySlides {
    display: none;
    /* margin-left: 5%;
    margin-right: 5%; */
    height: auto;
}



/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* #first{
    color: rgb(192, 192, 192);
} */

/* #first h1{
    color: rgb(255, 255, 255);
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  z-index: 1;
  margin: 0 2px;
  background-color: rgb(255, 111, 111);
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
